@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contain {
    background: #272727;
    width: 300px;
    height: 395px;
    margin: 0 auto;
    padding: .7rem;
}

.display {
    background: #101010;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    text-align: end;
    margin-bottom: .8rem;
}

.operation-display {
    font-size: 1.5rem;
}

.btns-contain {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 7px;
}

.top-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-bottom: .3rem;
}

.btns {
    padding: .7rem;
    cursor: pointer;
    background: #181818;
    border-color: transparent;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

.btns:hover {
    background: #101010;
}

.clear {
    grid-column: 1 / span 2;
}

.sign {
    grid-column: span 2;
}

.signs {
    background: #101010;
}

.signs:hover {
    background: #181818;
}

.equal {
    background: green;
}

.equal:hover {
    background: darkgreen;
}

.grid {
    padding: 1.2rem;
    font-size: 1.3rem;
    background: lightcoral
}

.grid:hover {
    background: rgb(232, 77, 77)
}
